@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; // ← 1rem = 10px

  @include respond(medium) {
    font-size: 56.25%; // ← 1rem = 9px
  }

  @include respond(small) {
    font-size: 50%; // ← 1rem = 8px
  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
  background-image: $gradient-linear;
  color: $color-text;
  overflow: hidden;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
