@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

%btn {
  display: block;
  font-weight: 500;
  width: 100%;
  cursor: pointer;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  outline: none;
  background-color: transparent;
  color: $color-text;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: $transition;

  @include respond(small) {
    padding: 2rem 3rem;
    font-size: 2rem
  }
}

.btn {
  &--primary {
    @extend %btn;
    color: $color-white;
    border: none;
    background-color: $color-text;

    &:hover {
      background-color: lighten($color-text, 7%);
      letter-spacing: 1px;
      transform: scale(1.02);
    }

    &:active {
      letter-spacing: 0;
      transform: scale(0.99);
    }
  }

  &--secondary {
    @extend %btn;
    color: $color-text;
    border: 2px solid currentColor;
    background-color: $color-white;

    &:hover {
      background-color: lighten($color-text, 68%);
      letter-spacing: 1px;
      transform: scale(1.02);
    }

    &:active {
      letter-spacing: 0;
      transform: scale(0.99);
    }
  }

  &--nav {
    cursor: pointer;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 10rem;
    border: 1px solid $color-text;
    transition: $transition;

    @include respond(medium) {
      width: 2rem;
      height: 2rem;
    }

    @include respond(small) {
      width: 2.5rem;
      height: 2.5rem;
    }

    &:hover {
      background-color: $color-grey-2;
    }

    &.active {
      background-color: $color-text;
    }

    &:not(:last-child) {
      margin-right: 0.5rem;



      @include respond(medium) {
        margin-right: 1.5rem;
      }
    }
  }
}
