.validation {
  display: flex;
  flex-direction: column;
  height: 100%;
  animation: slideInLeftSmall 500ms ease;

  &__text {
    margin-bottom: auto;
  }

  &__index,
  &__answer {
    font-size: 1.4rem;
    text-align: center;
  }

  &__answers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }

  &__answer {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: auto;
    }

    &.valid {
      background-color: lightgreen;
    }

    &.invalid {
      min-width: 2rem;
      background-color: lightcoral;
    }
  }

  &__index {
    font-weight: 500;
  }
}
